
@model WEB.Models.NewsRubricViewModel
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> </button>
            @Html.ActionLink("Все Новости", "Index","Home",new {rubric = ""},new {@class = "navbar-brand" })
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @{
                    int i = 0;

                    foreach (var item in Model.RubricViewModel)
                    {
                        if (i++ == 0)
                        {
                            <li> @Html.ActionLink(item.NameRubric, "Index", "Home", new {rubric = item.NameRubric },null)</li>
                        }
                        else
                        {
                            <li> @Html.ActionLink(item.NameRubric, "Index", "Home", new { rubric = item.NameRubric }, null )</li>
                        }
                    }
                }
               
            </ul>
        </div>
    </div>
</nav>
