@using PagedList
@using PagedList.Mvc
@using WEB.Models
@{
    if (ViewBag.News is IPagedList<NewsViewModel>)
    {
        <div class="pagin">
            @Html.PagedListPager((IPagedList<NewsViewModel>)ViewBag.News, page => Url.Action("Index", "Home", new { page }))
        </div>
    }

}

