@model WEB.Models.RubricViewModel

@{
    ViewBag.Title = "Удаление рубрики";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Удаление рубрики</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameRubric)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameRubric)
        </dd>

    </dl>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Удалить" class="btn btn-default" />
    </div>
}
